[submodule "public"]
	path = public
	url = https://github.com/gnarula/gnarula.github.io.git
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = https://github.com/tummychow/lanyon-hugo
